:root {
  --black: #090909;
  --text: #ffffff;
  --lg-black: #d1d1;
  --background: #212121;
  --button: #e8e8e8;
  --button-hover: #d1d1d1;
  --text-blk: #090909;
  --live: #8ccbbd;
  --textbox-text: #8b8b8b;
  --textbox-background: #3d3d3d;
}
